// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent Inc.

@use 'styles/definitions/colours' as *;

.collapsible-component {
    // &:hover {
    //    .bp5-icon svg {
    //        fill: $tt-white-text;
    //    }
    // }

    // {
    //    color: $tt-white-text;
    //    overflow: hidden;
    //    text-overflow: ellipsis;
    //    white-space: nowrap;
    // }

    .collapsible-label-wrap,
    > [type="button"] {
        padding: 0;
        margin-bottom: 5px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;

        &.bp5-button { padding: 0; }

        &:hover {
            transform: none;
            color: $tt-white-text;

        }

        > .bp5-icon{
          color: $tt-white-text;
        }

        .collapsible-label,
        .bp5-button-text {
            color: $tt-white-text;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .bp5-icon svg {
                fill: $tt-white-text;
            }

            > .bp5-icon svg {
                fill: $tt-yellow;
            }

        }

        .collapsible-label{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .operations-wrap & {
            color: #000;
            margin-bottom: 0;
        }


    }
}
