Checks: >
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*
  -modernize-use-trailing-return-type

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z|i|j|k|t|it|ix|itr|a|b'
