[submodule "tt_metal/third_party/tracy"]
	path = tt_metal/third_party/tracy
	url = https://github.com/tenstorrent-metal/tracy.git
	branch = master
[submodule "tt_metal/third_party/umd"]
	path = tt_metal/third_party/umd
	url = https://github.com/tenstorrent/tt-umd.git
	branch = main
[submodule "models/demos/t3000/llama2_70b/reference/llama"]
	path = models/demos/t3000/llama2_70b/reference/llama
	url = https://github.com/tenstorrent-metal/llama.git
	branch = main
[submodule "3rd_party/wandb-cpp"]
	path = tt-train/3rd_party/wandb-cpp
	url = https://github.com/yhisaki/wandb-cpp
	branch = master
[submodule "tt_metal/third_party/tt_llk"]
	path = tt_metal/third_party/tt_llk
	url = https://github.com/tenstorrent/tt-llk.git
	branch = main
