.cache
.vscode
.idea
*.log
*.csv
/tt-perf*
test_hlk_args_init_gen
tt_build
tt_debug
build

/llk_out/
/out/

/test_*
hlkc/hllkc_api.a
core_graph_lib/core_graph_lib_integration_tests
coremodel/model/release/

pipegen.yaml
device_desc.yaml
/clean
*coverage.txt
blobgen_cmd_log

.hlkc_cache

python_api/env
python_api/*.so
python_api/test_run_on_device_out
__pycache__

*.vcd

run-log.yaml
model_unit_tests
perf_tests_out

gui_dump.json
ops.csv

*.dump

debuda_test
compiled_ops
built_kernels
null.d

docs/build
docs/env
docs/doxygen_build

**.swp
**.swo

*profile_log*.csv
kernel_perf.html

env/
tags

release_build/

# PyBind extensions and wheel setup
*.egg-info/
gpai/gpai/*.so
.installed.cfg
*.egg

# exclude MNIST etc model downloads
data/
