# Order is important; the last matching pattern takes the most
# precedence.

.github/ @tt-rkim

infra/ @tt-rkim

conftest.py @tt-rkim

CONTRIBUTING.md @tt-rkim

CODEOWNERS @tt-rkim

setup.py @tt-rkim

Makefile @tt-rkim
module.mk @tt-rkim
