include MANIFEST.in
include build_metal.sh
include CMakeLists.txt
include CMakePresets.json
include LICENSE
include .gitmodules
recursive-include cmake *.*
recursive-include dependencies *.*
recursive-include tt_metal *.*
recursive-include ttnn *.*
recursive-include tt_stl *.*
global-exclude *.so *.dylib .git *.pyc *.swp
prune ttnn/ttnn/examples
