apt-utils
bc
cargo
clang-tidy-17
curl
dialog
git
graphviz
jq
pandoc
pkg-config
python3-dev
sudo
wget
libtbb-dev
libcapstone-dev
libfmt-dev
libyaml-cpp-dev
pybind11-dev
nlohmann-json3-dev
libgtest-dev
libboost-all-dev
