apt-utils
dialog
software-properties-common=0.99.9.12
build-essential=12.8ubuntu1.1
git
git-lfs
pandoc
libtbb-dev
libcapstone-dev
pkg-config
cmake=3.16.3-1ubuntu1.20.04.1
curl
wget
python3-pip
libhwloc-dev
libhdf5-serial-dev
ruby=1:2.7+1
python3-dev=3.8.2-0ubuntu2
python3.8-venv
cargo
ninja-build
patchelf
graphviz
