/* Tenstorrent powerpoint theme */
$tt-yellow: #ffd10a;
$tt-red: #f04f5e;
$tt-purple: #786bb0;
$tt-background: #33333d;
$tt-off-background: #44444d;
$tt-slight-off-background: #383840;
$tt-very-dark-gray: #1c2127;
$tt-black: #000;
$tt-white-text: #fefef6;
$tt-extra-light-gray: #f5f5f5;
$tt-light-gray: #eeeee6;
$tt-medium-light-gray: #cbcbcb;
$tt-medium-gray: #909096;
$tt-dark-gray: #606066;
$hr: #676767;
$tt-light-blue: #72deff;
$tt-medium-blue: #008cab;
$tt-dark-blue: #004c9b;
$bright-highlight: #9f0;
$node-select: #ffd500;
$node-select-focus: #99c4ff;
$core-highlight-inout: #ff3c00;
$core-highlight-output: #07f;
$pipe-select: #fff58a;
$c-dram: #7abdcc;
$hc-core: #f996ff;
$c-core: #a5cc7a;
$c-router: #d0c079;
$c-eth: #a794ee;
$c-pcix: #ee9794;
$progress-bar-track: #262626;
$progress-bar-fill: #7abdcc;
$link-saturation-track: #2d72d2;
$link-saturation-fill: rgb(95 107 124 / 20%);
$detailed-vew-component: #a6bce5;
$detailed-vew-light-text: #99c4ff;
$sort-header: #d8e4f6;
$focus-ring: rgb(142 243 47 / 90%);
$alert-color: #FF6C0A;
$queue-color: #5F6B7C;
