// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC
//
// SPDX-License-Identifier: Apache-2.0

#pragma once

#include "ttnn-nanobind/nanobind_fwd.hpp"

namespace ttnn::operations::{{ operation_name }} {

namespace nb = nanobind;
void bind_{{ operation_name }}_operation(nb::module_& mod);

}  // namespace ttnn::operations::{{ operation_name }}
