@use 'scss/variables';
@use 'scss/common';

body {
    position: relative;
    color: #fff;
    height: 100vh;
    background: linear-gradient(200.96deg, #fedc2a -29.09%, #dd5789 51.77%, #7a2c9e 129.35%);
    margin-top: 10px;
}

.app {
    padding: 0;
}

button {
    background-color: rgb(0 0 0);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    appearance: none;
    font-size: 1.3rem;
    box-shadow:
        0 8px 28px -6px rgb(24 39 75 / 12%),
        0 18px 88px -4px rgb(24 39 75 / 14%);
    transition: all ease-in 0.1s;
    cursor: pointer;
    opacity: 0.9;
}

// button:hover {
//    transform: scale(1.05);
//    opacity: 1;
// }

li {
    list-style: none;
}

a {
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    margin: 10px;
}

a:hover {
    opacity: 1;
    text-decoration: none;
}

.hello {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.ops {
    margin-top: 10px;
}

.operations-wrap {
    border: solid 1px #909096;
    border-radius: 5px;
    padding: 5px 40px 10px;
    display: inline-flex;
    gap: 20px;
    align-items: start;
    justify-content: stretch;
    min-height: fit-content;
    margin: 0 auto;

    legend {
        font-size: 1.5rem;
        font-weight: bold;
        color: #fefef6;
    }

    .collapsible-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.op {
    display: flex;
    align-items: center;
    gap: 5px;

    .bp5-control {
        margin-bottom: 0;
    }

    margin-bottom: 15px;

    .collapsible-component {
        .bp5-button-text {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}

.op-params {
    li {
        display: flex;
        gap: 5px;

        &::marker {
            color: variables.$tt-yellow;
        }
    }
}

.search-field {
    display: flex;
    min-width: 250px;
    margin-bottom: 30px;

    .bp5-input-group .bp5-input:not(:last-child) {
        padding-right: 30px !important;
    }

    .bp5-input-group {
        display: flex;
        align-items: center;
        min-width: 270px;

        .bp5-input-action {
            top: unset;

            > .bp5-icon {
                margin-right: 5px;

                svg {
                    fill: variables.$tt-dark-gray;
                }
            }
        }
    }
}
