**/build/**
**/__pycache__/**
**/.venv/**
.idea/
.cpmcache/
compile_commands.json
*.code-workspace
*.o
*.elf
*.d/
.cache/**
.envrc
.vscode/
perf_data/
*.log
*.csv
!docs/blackhole_cfg_setters.csv
*.whl
**/hw_specific/**

# Ignore generated build.h
tests/helpers/include/build.h

# Ignore generated fused_test.cpp
**/fused_tests/**

# Ignore generated compile_flags.txt
compile_flags.txt

# Unignore .claude
!.claude

# HAL docs server runtime state (written by serve_hal_docs.py)
docs/hal/document_edits.json
docs/hal/cfg_naming_suggestions.json
