-r ../../tt_metal/python_env/requirements-dev.txt

--extra-index-url https://download.pytorch.org/whl/cpu
datasets==2.9.0
torchvision==0.14.1+cpu
transformers==4.28.1
xlsxwriter==3.0.8
tiktoken==0.3.3
tqdm==4.65.0
sentencepiece==0.1.97
numba==0.56.4
librosa==0.10.0
timm==0.6.13
opencv-python==4.7.0.72
diffusers==0.12.1
accelerate==0.19.0
ftfy==6.1.1
