wheel==0.37.1
pyyaml==5.3.1
numpy==1.20.3
loguru==0.6.0
toolz==0.12.0
matplotlib==3.7.1
Pillow==9.5.0

--extra-index-url https://download.pytorch.org/whl/cpu
torch==1.13.1+cpu

# For docs
-r ../../docs/requirements-docs.txt

# For profiler
-r ../../tt_metal/tools/profiler/requirements-profiler.txt
