{% extends "report_layout.html" %}
{% block content %}

<html>

<style>
    .fa {

        color: black;
        font-size: 48px;
        padding-right: 15px;
    }
</style>

<body>
    <div>
        <h1>Operation Graph Report</h1>
        {%if previous_operation %}
        <a href=" /operation_graph_report/{{previous_operation.operation_id}}"><i class="fa fa-arrow-left"></i></a>
        {% endif %}
        {%if next_operation %}
        <a href=" /operation_graph_report/{{next_operation.operation_id}}"><i class="fa fa-arrow-right"></i></a>
        <br>
        {% endif %}
        <h2>{{ operation.operation_id }}: {{ operation.name }}</h1> <br>
    </div>
    <div>
        {{ graph_svg | safe }}
    </div>
</body>

</html>

{% endblock %}
