// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent Inc.
@use 'definitions/colours' as *;

body{
    background: $tt-background;
}

.app-header {
    margin-bottom: 1rem;
}

.ops {
    margin-top: 10px;
}

.operations-wrap {
    border: solid 1px #909096;
    border-radius: 5px;
    padding: 5px 40px 10px;
    display: inline-flex;
    gap: 20px;
    align-items: start;
    justify-content: stretch;
    min-height: fit-content;
    margin: 0 auto;

    legend {
        font-size: 1.5rem;
        font-weight: bold;
        color: #fefef6;
    }

    .collapsible-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.op {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;

    .bp5-control {
        margin-bottom: 0;
    }

    .collapsible-component {
        .bp5-button-text {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}

.op-params {
    li {
        display: flex;
        gap: 5px;

        &::marker {
            color: $tt-yellow;
        }
    }
}

.search-field {
    display: flex;
    min-width: 250px;
    margin-bottom: 30px;

    .bp5-input-group .bp5-input:not(:last-child) {
        padding-right: 30px !important;
    }

    .bp5-input-group {
        display: flex;
        align-items: center;
        min-width: 270px;

        .bp5-input-action {
            top: unset;

            > .bp5-icon {
                margin-right: 5px;

                svg {
                    fill: $tt-dark-gray;
                }
            }
        }
    }
}
