// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent Inc.

/* Layout sizes */
$top-bar-height: 50px;
$initial-dock-height: 340px;
$sidebar-width: 30px;
$controls-panel-width: 230px;
$compute-node-width: 260px;
$properties-panel-width: 300px;

/* Media query mixins */
$desktop: 1024px;
$desktop-large: 1440px;
$desktop-4k: 2560px;

@mixin min-desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin min-desktop-large {
    @media (min-width: $desktop-large) {
        @content;
    }
}

@mixin min-desktop-4k {
    @media (min-width: $desktop-4k) {
        @content;
    }
}

$detailed-view-zindex: 80;
$cluster-view-zindex: 100;
